@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-section{
    width: 520px;
    text-align: right;
    margin-right: 230px;
}
.header-title{
    font-size: 65px;
    font-weight: 700;
    color: white;
    line-height: normal;
    margin-bottom: 24px;
}
.herder-description{
    font-size: 16px;
    color: #FFF;
    line-height: 26px;
    margin-bottom: 32px;
}
.contactBtn{
    padding: 13px 24px;
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
}
.personal-information{
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
}
.content-section{
    display: flex;
    justify-content: center;
}
.text-content{
    margin-left: 120px;
    margin-top: 200px;
}
.title{
    font-size: 40px;
    color: #151414;
    margin-bottom: 25px;
}
.description{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.failure{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.failure i{
    color: #16D887;
    font-size: 22px;
    margin-right: 10px;
}
.failure p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}
.all-plans{
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 135px;
    width: 70%;
}
.all-plans h1{
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    justify-content: space-around;
}
.items img{
    margin-bottom: 25px;
}
.items h2{
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}
.items p{
    font-size: 25px;
    color: #737272;
}