@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-section{
    width: 520px;
    text-align: right;
    margin-right: 230px;
}
.header-title{
    font-size: 65px;
    font-weight: 700;
    color: white;
    line-height: normal;
    margin-bottom: 24px;
}
.herder-description{
    font-size: 16px;
    color: #FFF;
    line-height: 26px;
    margin-bottom: 32px;
}
.contactBtn{
    padding: 13px 24px;
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
}